<!-- <div class="lang-screen">
  <div class="lang-menu"> Ezra Stas
     <div class="row">
        <div class="btn col-md-6 col-xs-6" onClick="awer()">Eng
        </div>
        <div class="btn col-md-6 col-xs-6">Рус</div>
    </div>
  </div>
  <div class="main-menu">
     <div class="EngMainPage col-md-6 col-xs-6">
     </div>
     <div class="RusMainPage col-md-6 col-xs-6">
     </div>
  </div>
</div> -->
<div class="main-screen">
  <div class="main-menu">
     <div class="EngMainPage col-md-6 col-xs-6">
     </div>
     <div class="RusMainPage col-md-6 col-xs-6">
     </div>
  </div>
</div>
<div class="lang-screen">
  <div class="lang-menu"> Ezra Stas
     <div class="row">
        <div class="btn col-md-6 col-xs-6" onClick="awer()">Eng
        </div>
        <div class="btn col-md-6 col-xs-6">Рус</div>
    </div>
  </div>
</div>
