<!doctype html>
<html ng-app='app'>
<head>
 <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">

    <!-- Custom styles for template -->
  <link rel="stylesheet" href="css/main.min.css" type="text/css">

    <!-- jquery jS file -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Main jS file -->
    <script src="js/main.min.js"></script>

  <title> Ezra Stas</title>

</head>
<body>
